#sm-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 7px;
  padding-left: 50px;
  width: 20%;
  height: 100%;
  font-family: "Arial", sans-serif;
  background: rgb(147, 205, 117) url('chrome-extension://__MSG_@@extension_id__/img/icon57.png') 5% 1% no-repeat;
}

#elementschecklist {
  position: fixed;
  top: 32%;
  right: 1%;
  width: 18%;
  height: 63%;
  background-color: rgb(53, 122, 129);
}

#checklisttitle {
  position: fixed;
  top: 28%;
  right: 1%;
  width: 18%;
  height: 5%;
}

#sm-sidebar h1 {
  color: rgb(53, 122, 129);
  font-size: 310%;
  text-align: center;
  margin-top: 4%;
}

#sm-sidebar h3 {
  color: rgb(53, 122, 129);
  font-size: 200%;
  text-align: center;
  margin-top: 3%;
}

#sm-activebox {
  position: fixed;
  top: 8%;
  right: 1%;
  width: 18%;
  height: 20%;
  background-color: rgb(53, 122, 129);
}

#sm-activebox p {
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 160%;
  text-align: center;
}

#elementschecklist p {
  color: white;
  padding-top: 20%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  text-align: center;
}
